* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

.cointainer {
  grid-column: 2;
  padding: 80px 0px;
}

h2 {
  margin-bottom: 40px;
}

.grid-pattern {
  display                  : grid;
  grid-template            : auto / 1fr 1200px 1fr;
}

@media (max-width          : 1350px) {
  .grid-pattern {
    grid-template          : auto / 1fr 80% 1fr;
  }
}

@media (max-width          : 600px) {
  .grid-pattern {
    grid-template          : auto / 1fr 92% 1fr;
  }
}